
.wrapper {
    display: flex;
    border: 1px solid black;
}

.test {
    border: 1px solid red;
}
.test2 {
    width: 1440px;
    height: 852px;
    margin: 0 auto;
    border: 1px solid red;
}
.test3 {
    width: 1170px;
    height: 609px;
    margin-top: 40px;
    margin-bottom: 203px;
    margin-left: 135px;
    margin-right: 135px;
    border: 1px solid red;
}
.test4 {
    width: 1440px;
    height: 140px;
    margin: 0 auto;
    border: 1px solid red;

}
.test5 {
    width: 1440px;
    height: 1378px;
    border: 1px solid red;
    margin: 0 auto;

}
.test6 {
    width: 1440px;
    height: 664px;
    margin: 0 auto;
    border: 1px solid red;
}
.test7 {
    width: 1440px;
    height: 955px;
    margin: 0 auto;
    border: 1px solid red;
}
.test8 {
    width: 1440px;
    height: 1114px;
    margin: 0 auto;
    border: 1px solid red;
}